<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>HeartApp needs your permission for write in HeathKit</string>
	<key>NSHealthShareUsageDescription</key>
	<string>HeartApp needs your permission for HeathKit</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Pulse uses the camera to measure your heart rate.</string>
</dict>
</plist>
